@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@import '@vime/core/themes/default.css';
@import '@vime/core/themes/light.css';

body {
  font-family: 'Poppins', sans-serif;
}

@theme {
  --color-cdsBlue: #002B4E;
  --color-cdsRed: #BA0924;
}